{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer des utilisateurs via imports CSV</h1>
    {{ form_start(formUpload) }}
    {{ form_widget(formUpload) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(formUpload) }}
{% endblock %}

{% block title %}
    Créer des utilisateurs
{% endblock %}

