{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        {{ form_start(creerSortieForm) }}

        {{ form_widget(creerSortieForm) }}

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(creerSortieForm) }}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let ville = document.querySelector("#creer_sortie_ville");
            ville.addEventListener("change", function () {
                let form = this.closest("form");
                let formData = new FormData(form);

                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: formData,
                })

                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;

                        console.log(content);

                        let nouveauSelect = content.querySelector("#creer_sortie_lieu");
                        document.querySelector("#creer_sortie_lieu").replaceWith(nouveauSelect);

                        let nouveauCodePostal = content.querySelector("#creer_sortie_codePostal");
                        document.querySelector("#creer_sortie_codePostal").value = nouveauCodePostal.value;

                        //

                        let lieu = document.querySelector("#creer_sortie_lieu");
                        lieu.addEventListener("change", function () {
                            let form = this.closest("form");
                            let formData = new FormData(form);

                            fetch(form.action, {
                                method: form.getAttribute("method"),
                                body: formData,
                            })
                                .then(response => response.text())
                                .then(html => {
                                    let content = document.createElement("html");
                                    content.innerHTML = html;

                                    let nouvelleRue = content.querySelector("#creer_sortie_rue");
                                    document.querySelector("#creer_sortie_rue").value = nouvelleRue.value;
                                });
                        });

                        //
                    });
            });

        })
    </script>



{% endblock %}

