body, h1, table {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}

header img {
    max-width: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table a {
    color: #007bff;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}